#### HMA1 Class 
This is a demo notebook to discover functionalities of the HMA1 class for relational data modelling.

#### What is HMA1?
The bulian.relational.HMA1 class implements a Hierarchical Modeling Algorithm which is an algorithm that allows to recursively walk through a relational dataset and applies tabular models across all the tables in a way that lets the models learn how all the fields from all the tables are related.

In [30]:
sys.path.insert(1,r'F:\Users\Kaggle\bulian')

#### Import all the relevant packages

In [31]:
import os,sys
import pandas as pd
from bulian.metrics.demo import sample_relational_demo
from bulian.utils import display_tables
from bulian.relational import HMA1

#### Start by Loading Bulian Demo relational dataset

In [32]:
metadata, tables = sample_relational_demo()

In [33]:
metadata

Metadata
  root_path: .
  tables: ['users', 'sessions', 'transactions']
  relationships:
    sessions.user_id -> users.user_id
    transactions.session_id -> sessions.session_id

##### This returns two objects, the relational data tables and the metadata associated with each table

In [34]:
print(metadata)

Metadata
  root_path: .
  tables: ['users', 'sessions', 'transactions']
  relationships:
    sessions.user_id -> users.user_id
    transactions.session_id -> sessions.session_id

In [35]:
for name, table in tables.items():
    print(name, table.shape)

users (30, 4)
sessions (43, 5)
transactions (226, 5)

In [36]:
display_tables(tables)

#### Deep dive into metadata class

- Get Tables to view associated table names
- Get parents(table) to view child-parent releationship for a particular table

In [37]:
metadata.get_tables()

['users', 'sessions', 'transactions']

In [38]:
metadata.get_parents('sessions')

{'users'}

#### Next, lets fit a HMA1 model to learn this data to eventually sample synthetic data rows

- Import bulian.relational.HMA1 and create an instance of it passing relevant metadata
- Fit the instance to the tables dict

In [39]:
model = HMA1(metadata)
model.fit(tables)

*The fit method basically iterates through all the datasets in the tables dict and models each dataset using Gaussian Copula models*

#### Next, sample synthetic data rows from the fitted HMA1 model

In [40]:
new_data = model.sample(num_rows=100,)

Sampling rows: 100%|██████████| 100/100 [00:00<00:00, 349.49it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 97.36it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 262.97it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 198.93it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 93.40it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 37.81it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 223.26it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 157.90it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 160.93it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 53.57it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 55.83it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 52.66it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 206.71it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 56.33it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.20it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 53.58it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 277.78it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 39.31it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 35.44it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 53.68it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 40.59it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 120.01it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 100.01it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 55.57it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 45.46it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 157.89it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 58.84it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 298.52it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 597.25it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 452.88it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 222.22it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 120.00it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 99.99it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.09it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 58.83it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.11it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 404.06it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 58.84it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 55.56it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 66.67it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 54.93it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 55.56it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 300.02it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 52.64it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 100.00it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 41.67it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 137.93it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 74.07it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 468.51it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 43.74it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 49.99it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 55.56it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 49.99it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 100.00it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.13it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 181.84it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 150.00it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 176.48it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 163.61it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 37.53it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 90.92it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 105.26it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 105.28it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.11it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 52.64it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 214.62it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 101.55it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 52.63it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 105.26it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 263.17it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 111.12it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 157.88it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 52.63it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 235.31it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 311.82it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 2347.12it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 274.67it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 1000.31it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 363.63it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.21it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 83.34it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 615.45it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 428.47it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 200.08it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.62it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 181.87it/s]
Sampling rows: 100%|██████████| 10/10 [00:00<00:00, 1111.40it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 561.02it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 581.27it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 407.28it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 319.82it/s]
Sampling rows: 100%|██████████| 12/12 [00:00<00:00, 795.12it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 699.93it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 600.16it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.92it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 700.23it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 1777.81it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 142.38it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 285.49it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 222.38it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 485.53it/s]
Sampling rows: 100%|██████████| 12/12 [00:00<00:00, 1003.50it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 733.87it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 69.09it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 3643.26it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 750.21it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 176.45it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 191.99it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 461.53it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 153.84it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 200.04it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 615.29it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 400.02it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 874.93it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 1143.17it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 142.84it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 1336.67it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 158.47it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 324.51it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 516.09it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 363.74it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 624.99it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 624.73it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.55it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 249.97it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 222.19it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 181.85it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.29it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 500.08it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 499.83it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 750.23it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 714.36it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 222.17it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 76.93it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 266.69it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 600.07it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 300.04it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.41it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 213.75it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.46it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.36it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 500.10it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 141.24it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 161.37it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 249.97it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 200.03it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.19it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.63it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.33it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.25it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.50it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 399.91it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 599.87it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 1000.02it/s]
Sampling rows: 100%|██████████| 12/12 [00:00<00:00, 1500.11it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.85it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 499.96it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 1125.38it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 375.09it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.01it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.34it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 750.21it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 874.91it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 600.13it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 888.55it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 666.80it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 749.74it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 874.96it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.34it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 889.00it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 666.80it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.42it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 222.31it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 374.83it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.30it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 250.11it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.55it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.43it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 666.52it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.57it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.77it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.24it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.73it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 374.85it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 499.98it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 500.02it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 375.04it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 300.11it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.48it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.01it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.38it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.52it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 375.04it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 142.86it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 124.80it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 388.89it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 333.34it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 384.67it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 400.03it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 333.41it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 545.46it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 111.13it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 636.41it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 666.58it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 400.08it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 300.11it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 181.87it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.39it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 599.96it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 291.70it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 499.92it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 200.00it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 222.36it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.79it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 430.02it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 259.27it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 207.39it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 482.00it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 446.06it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.60it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.64it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 666.64it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 750.17it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 750.10it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.47it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 222.31it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 625.29it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 375.03it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 666.73it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 700.10it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 500.07it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 363.66it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 160.03it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 363.81it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 399.94it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 76.90it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 1930.59it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 357.30it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 507.19it/s]

In [41]:
display_tables(new_data)

In [42]:
for name, table in new_data.items():
    print(name, table.shape)

users (100, 4)
sessions (164, 5)
transactions (771, 5)

#### Save and share the model:  
Once you have fitted the model, all you need to do is call its save method passing the name of the file in which you want to save the model. Note that the extension of the filename is not relevant, but we will be using the .pkl extension to highlight that the serialization protocol used is pickle.

In [43]:
model.save('F:/Users/Kaggle/wids/relational_model.pkl')

**Important** If you inspect the generated file you will notice that its size is much smaller than the size of the data that you used to generate it. This is because the serialized model contains **no information about the original data**, other than the parameters it needs to generate synthetic versions of it. This means that you can safely share this `relational_model.pkl` file without the risk of disclosing any of your real data!

#### Sample only a subset of tables?

In some occasions you will not be interested in generating rows for the entire dataset and would rather generate data for only one table and its children.
To do this you can simply pass the name of the table that you want to sample.
For example, pass the name sessions to the sample method, the model will only generate data for the sessions table and its child table, transactions.

In [44]:
model.sample('sessions', num_rows=25)

Sampling rows: 100%|██████████| 25/25 [00:00<00:00, 2471.54it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 765.80it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 120.87it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 113.69it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 508.98it/s]
Sampling rows: 100%|██████████| 6/6 [00:00<00:00, 718.80it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 423.79it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 624.99it/s]
Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 555.63it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 444.50it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.65it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 99.97it/s]
Sampling rows: 100%|██████████| 2/2 [00:00<00:00, 249.97it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 749.92it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.67it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 727.18it/s]
Sampling rows: 100%|██████████| 7/7 [00:00<00:00, 777.57it/s]
Sampling rows: 100%|██████████| 1/1 [00:00<00:00, 99.99it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 333.30it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 363.58it/s]
Sampling rows: 100%|██████████| 4/4 [00:00<00:00, 399.98it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 1000.04it/s]
Sampling rows: 100%|██████████| 11/11 [00:00<00:00, 1222.80it/s]
Sampling rows: 100%|██████████| 9/9 [00:00<00:00, 900.11it/s]
Sampling rows: 100%|██████████| 3/3 [00:00<00:00, 272.72it/s]
Sampling rows: 100%|██████████| 8/8 [00:00<00:00, 799.96it/s]
Sampling rows: 100%|██████████| 17/17 [00:00<00:00, 81.73it/s]

{'sessions':     session_id  user_id  device       os  minutes
 0          164      105  tablet  windows       51
 1          165      101      pc    linux       44
 2          166      112  tablet  android       26
 3          167      103      pc  android       43
 4          168      107      pc  android       56
 5          169      112  tablet    linux       46
 6          170      107      pc  android       46
 7          171      100      pc    linux       60
 8          172      107  mobile  android       38
 9          173      110      pc  android       48
 10         174      107  tablet    linux       21
 11         175      103  tablet  android       29
 12         176      105      pc    linux       47
 13         177      101      pc    linux       57
 14         178      107      pc  android       46
 15         179      105      pc    linux       45
 16         180      100  mobile  android       29
 17         181      113      pc  android       62
 18         182      101  tablet  android       33
 19         183      112  tablet      ios       68
 20         184      101      pc  android       75
 21         185      116  tablet    linux       71
 22         186      100  tablet    linux       55
 23         187      113  tablet    linux       38
 24         188      100  tablet  android       50,
 'transactions':      transaction_id  session_id           timestamp  amount  cancelled
 0               771         164 2019-05-22 19:20:39  103.06      False
 1               772         164 2019-05-22 19:21:34   85.98      False
 2               773         164 2019-05-22 19:20:01   91.75      False
 3               774         164 2019-05-22 19:31:22  107.92      False
 4               775         164 2019-05-22 19:08:13   72.28      False
 ..              ...         ...                 ...     ...        ...
 125             896         188 2019-06-04 09:45:16   24.05      False
 126             897         188 2019-06-04 10:01:56    0.55      False
 127             898         188 2019-06-04 09:46:29    0.55      False
 128             899         188 2019-06-04 09:21:29   58.27      False
 129             900         188 2019-06-04 09:49:55   41.48      False

 [130 rows x 5 columns]}

If you want to further restrict the sampling process to only one table and also skip its child tables, you can add the argument sample_children=False. For example, you can sample data from the table users only without producing any rows for the tables sessions and transactions.

In [45]:
model.sample('users', num_rows=5, sample_children=False)

Sampling rows: 100%|██████████| 5/5 [00:00<00:00, 23.92it/s]

   user_id country gender  age
0      117      MM      F   22
1      118      KN      F   32
2      119      PK      F   30
3      120      MV      F   26
4      121      MV      F   32

**Note** In this case, since we are only producing a single table, the output is given directly as a `pandas.DataFrame` instead of a dictionary.

### Fin ###